<tr>
  <td class="align-middle">
    <%= content_tag :span, badge.name, class: 'test-title' %>
  </td>
  <td class="align-middle">
    <%= image_tag badge.badge_image(badge.image_url), class: 'badge-image' %>
  </td>
  <td class="align-middle"><%= link_to t('links.edit'), edit_admin_badge_path(badge) %></td>
  <td class="align-middle"><%= link_to t('links.delete'), admin_badge_path(badge), method: :delete, data: { confirm: 'Are you sure?'} %></td>
</tr>
