<tr>
  <td class="align-middle">
    <%= content_tag :span, badge.name, class: 'test-title' %>
  </td>
  <td class="align-middle">
    <%= image_tag badge.badge_image(badge.image_url), class: 'badge-image' %>
  </td>
</tr>
