@import 'bootstrap';
@import "font-awesome";
@import "typography/icons";
@import "global";
//@import 'nav'

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  background-color: var(--bs-light);
}

a {
  text-decoration: none;
}

.badge-image {
  max-width: 100px;
  max-height: 100px;
}
