<p><%= t('devise.email_changed.user', user: @email ) %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.email_changed.being_changed_text', email: @resource.unconfirmed_email ) %></p>
<% else %>
  <p><%= t('devise.email_changed.changed_text', email: @resource.email ) %></p>
<% end %>
