<p><%= t('devise.reset_password_instructions.user', user: @resource.email ) %>!</p>

<p><%= t('devise.reset_password_instructions.text') %></p>

<p><%= link_to t('devise.links.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<%= t('devise.reset_password_instructions.helpler').html_safe %>
