<p><%= t('devise.unlock_instructions.user', user: @resource.email ) %>!</p>

<%= t('devise.unlock_instructions.helpler').html_safe %>

<p><%= link_to t('devise.lins.unlock'), unlock_url(@resource, unlock_token: @token) %></p>
